.MyStrongSides {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(../../Images/mainpic.png) no-repeat #BE9FE1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 50px;
}

@media screen and (max-width: 800px) {
    .MyStrongSides {
      padding-left: 10px;
      padding-right: 10px;
    }
}

@media screen and (max-width: 450px) {
    .MyStrongSides {
      padding-left: 5px;
      padding-right: 5px;
    }
}

.MyStrongSides__title {
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 50px;
}

@media screen and (max-width: 510px) {
    .MyStrongSides__title {
      font-size: 16px;
    }
}

.MyStrongSides__grid-container {
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    grid-template-rows: auto;
    gap: 15px;
    margin: auto;
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
    margin: auto;
}

@media screen and (max-width: 510px) {
    .MyStrongSides__grid-container {
      margin-left: 10px;
      margin-right: 10px;
    }
}

.MyStrongSides__grid-item {
    list-style-type: none;
    border-radius: 20px;
    border: none;
    height: 200px;
    padding: 10px;
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 510px) {
    .MyStrongSides__grid-item {
      font-size: 12px;
    }
}

@media screen and (max-width: 330px) {
    .MyStrongSides__grid-item {
      font-size: 10px;
    }
}

