.experience {
    padding-bottom: 50px;
    margin-top: 50px;
}

.experience__title {
    text-align: center;
    margin-top: 0;
}

@media screen and (max-width: 510px) {
    .experience__title  {
      font-size: 14px;
    }
}
  
.experience__wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    max-width: 750px;
}

@media screen and (max-width: 800px) {
    .experience__wrapper {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media screen and (max-width: 510px) {
    .experience__wrapper {
      font-size: 12px;
    }
}