.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.about__text-continer {
   display: flex;
   flex-direction: column;
   max-width: 750px; 
   margin: auto;
   margin-top: 20px;
}

@media screen and (max-width: 800px) {
    .about__text-continer {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.about__title {
    text-align: center;
    margin-top: 0;
}

.about__text {
    margin-bottom: 0;
}